.footer {
    background-color: #454a4c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}
.footer a{
    font-size: 14px;
}
.footer img{
    width: 150px;
}

.footer-end{
    display: flex;
    font-size: 11px;
    align-items: center;
    padding: 0 5vw;
    gap: 20px;
}
.footer-p1,
.footer-p2,
.footer-link a,
.footer-icon a {
    color: #00ffff;
}
