* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #dedede;
}
ul li{
    list-style-type: none;
}

body{
    justify-content: space-between;
    font-family: sans-serif;
    color: #dedede;
    width: calc(100vw - 16px);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.header {
    width: calc(100vw - 16px);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3; 
    top: 0;
    padding: 0px 5vw;
    background-color: #454545;
    color: #dadada;
    font-size: 14px;
} 

/* logo */
.logo{
    width: 150px;
}
.logo a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.logo a img{
    width: 100%;
}

/* header_nav_list */

.header_nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
    margin: 0;
    padding: 0;
}


.header_nav_item {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 50px;
}


.header_nav_item_sub_container {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #c9c9c9;
    background-color: #454545;
    border-radius: 3px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    padding: 5px 0;
}


.header_nav_item:hover .header_nav_item_sub_container {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header_nav_item a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 0 10px;
    transition: color 0.3s ease;
}

.header__item-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.header__item-item:hover {
    background-color: rgba(102, 243, 245, 0.408);
    color: white;
    cursor: pointer;
}
.header_nav_item i {
    margin-left: 5px;
    color: white;
}


.header_nav_list a{
    font-size: 14px;
    text-decoration: none;
    color: #dadada;
}

/* header_link_icon */
.header_link_icon{
    display: flex;
   
}
.header_link_icon_list{
    display: flex;
    gap: 10px;
}
.header_link_icon_item{
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}
.header_link_icon_item a:hover{
    color: rgb(252, 62, 62);
    transition: color 0.3s ease;
}

.login_icon_container_sub_box{
    display: none;
}
@media screen and (max-width: 1000px) {
    .header_nav_list {
        display: none!important;
    }
}