.container__Non {
    font-size: 1.5rem;
    margin: 0 12px;
}

form input {
    width: 100%;
    margin-top: 12px;
    height: 40px;
    
}

option{
    width: 100%;
}


.container__section {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
    background-color: #fff;
    width: 100%;
    height: 200px;
    display: none;
   
}

.container__hover {
    margin-top: 15px;
}

.container-item {
    margin-top: 12px;

}



.container-input {
    position: relative;
    width: 100%;
    margin-top: 15px;
    height: 30px;
}



.container-icon {
    position: absolute;
    right: 25px;
    top: 116px;
}


.container__list {
    margin: 0 150px;
    border-bottom: 1px solid #333;
}


.container__text-numbr {
    display: flex;
    justify-content: space-between;
}

.dot__container {
    display: flex;
    margin-right: 8px;
    height: 30px;
    margin-top: 5px;
    
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.dot__container .active {
    background-color: red;
    color: white;
}

.container__slide {
    margin-top: 5px;
}

.container__slide img{
    width: 100%;
}


.container-list {
    display: flex;
    background-color: #f1f0ec;
    
}

.container-item img {
    width: 100%;
    padding: 30px 20px;
}

.container-item p {
    color: #4f4848;
}
