@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



:root {

    --primary-color: #cf2e2e;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --primary-color-rgba: rgba(238, 75, 43);
    --border-color: #dbdbdb;
    --start-gold-color: #ffce3e;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--navbar-height) - var(var(--header-height)))

}


*{
    box-sizing: inherit;
}
header {

}

footer {
    margin: 0px;
    padding: 0px;
}
html {
    width: 100%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    color: #e8c4c4;
    width: 100%;
    box-sizing: border-box;
    background-color: #F1F0EC;
    
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; 
    
}
.section {
    width: 100%;
    max-width: 1140px;
    /* margin-left: auto;
    margin-right: auto;  */
}
input:focus {
    outline: none; /* Loại bỏ đường viền mặc định */
    border: none;  /* Loại bỏ border nếu bạn đã có */
}
/* Responsive */

.grid {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    /* nhay xuong hang*/
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */



/* Button style */


.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;

}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--black-color);
}

/* .btn.btn--disabled {
    color: #ccc;
    cursor: default;
    background-color: #666;
} */

/* Selection */

>>>>>>> fad29d5 (update)
