/* :root{
    --bg1 :#9b59b6;
    --bg2 :#3498db;
    --text :#26ade4;
} */
*{
    margin: 0;
    padding: 0;
    outline: none;
}
.container{
    width: 100vw;
    height: 100vh;
    background:#261616;
    justify-content: center;
    display: flex;
    align-items: center;
}
* {
    margin: 0;
}

body {
    background-color: #b8abab;
}


.form {
    background-color: #f4eaea;
}

.desc {
    margin-top: 12px;
}

.form-group {
    margin-top: 12px;
}

.btn {
    margin-top: 12px;
}


.invalid {
    border: none;
    outline: none;
    border: 1px solid red;
}
