* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 77px;
    background-color: #343A40;
    align-items: center;
    position: relative;
    position: fixed;
    z-index: 1;
    width: 100%;
   margin: 0px;
   padding: 0px;
}
.logo a img{
    width: 55%;
    cursor: pointer;
}

.header__list {
    display: flex;
    list-style: none;
    position: relative;
    display: flex;
    
}

.header__list-item a{
    text-decoration: none;
    color: var(--white-color);
    
}

.header__list-item  {
    line-height: 77px;
    padding: 0 20px;
    font-size: 1.3rem;
    font-weight: 600;
    
   
}
.header__title {
    color: rgb(196, 164, 164);
}

.header__item-list {
    list-style: none;
    position: absolute;
    background-color: #333;
    width: 300px;
    display: none;
    border-top: 2px solid #333;  
    animation: fadeIn ease-in 0.25s;
    border-top: 2px solid red;
}
.header__item-item {
    text-align: center;
    border-bottom: 1px solid #ffffff48;
    height: 55px;
}

.header__list-item>a:hover {
    color: red;
    
}

.header__list-item:hover .header__item-list{
    display: block;   
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.header__item-item:hover,
.header__item-item>a:hover {
    background-color: #7a7575;
    color: #444;
}

.header__input-search {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    position: relative;
    border: none;
    display: none;
}

.header-icon::hover {
    display: block;
}

.header .header__cart {

    position: relative;
}
  
.header .header__encompass {
    position: absolute;
    background-color:rgba(255, 0, 0, 0.571);
    border: 1px solid rgba(255, 0, 0, 0.582);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    top: 18px;
    right: 0px;
}

.header__cart-notice{
    position: absolute;
    font-size: 1rem;
    top: -30px;
    left:5px;
    font-weight: 300;
  
}

/* search */

.logo-search {
    color: #9a8f8f;
    font-size: 1.4rem;
    position: absolute;
    left: 88%;
    visibility: hidden;
    display: none;

}

.logo-search:hover {
    color: #333;
    display: block;
}

 /* end search */


.register-login {
    position: absolute;
    top: 77px;
    background-color: #8e8a8a;
    display: none;
}

.login .register {
    list-style: none;
    margin-top: 12px;
}

.icon-user:hover .register-login {
    display: block;
}



.container__capacity {
    margin-top: 50px;
    width: 100%;
    
}
.container__text {
    text-align: center;
    font-size: 3rem;
    color: #857f7f;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


  



.dot__container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
}

.dot.active {
    background-color: #333;
}

.slide__container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 50px 0px;
}
.slide__text {
    text-align: center;
    margin: 30px 0;
    font-size: 3rem;
    color: #857f7f;
}

.slide__container img{
    width: 100%;
}

.container__item {
    display: flex;
}

.container-img {
    width: 100%;
}

.container__discount img {
    width: 100%;
}

.footer-logo img {
    position: absolute;
    right: 40%;
} 

.footer {
    height: 600px;
    background-color: #454a4c;
    position: relative;
}

.footer-p1 {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: #857f7f;
    margin-bottom: 12px;
}

.footer-p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    color: #857f7f;
    margin-bottom: 12px;
}

.footer-link,
.footer-icon,
.footer-icon-map {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    color: #00ffff;
    margin-bottom: 12px;
   
}

.footer-link a,
.footer-icon a,
.footer-icon-map a {
    color: #00ffff;
    text-decoration: none;
}


.footer-icon-map {
    padding: 20px 0;
    border-bottom: 1px solid #000;
}


.footer-end {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    
}

.footer-end p {
    width: 60%
}

.footer-end img{
   float: right;
   position: absolute;
   right: 10px;
>>>>>>> fad29d5 (update)
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
<<<<<<< HEAD
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    z-index: 1;
    background-color: var(--white-color);
    position: relative;
    border-radius: 5px;
}

=======
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    position: relative;
    animation: growth linear 0.1s;
}

/* Auth-form */

>>>>>>> fad29d5 (update)
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
<<<<<<< HEAD
    position: relative;

}
.auth-form__header {
    background-color: #dd3333;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form__header h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 2rem;
}
.auth-form__form {
    text-align: center;
    margin-top: 50px;
}
.auth-form-group {

}



.auth-form__input {
    height: 50px;
    width: 70%;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #ccc4c4;
    outline: none;
}

.auth-btn {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    background-color: #dd3333;
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    
}

.modal-text {
    text-decoration: none;
    color: var(--text-color);
    position: absolute;
    left: 130px;
    margin-top: 20px;
    font-size: 1.4rem;
}

.modal-socials {
    margin-top: 100px;
    background-color: rgb(212, 200, 200);
    overflow: hidden;

}

.modal-socials__form {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;
    height: 50px;
    margin-top: 18px;
}

.icon {
    font-size: 2.2rem;
}

.text-social {
    color: #100c0c;
    font-size: 1.5rem;
=======
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}


.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(#454545);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
>>>>>>> fad29d5 (update)
    

}

<<<<<<< HEAD
.text-social:hover {
    background-color: #c0b8b8;
}

.icon-text {
    text-decoration: none;
    font-size: 1.4rem;
}

=======
.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 16px 36px;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;

}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 24px;

}


.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    

}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    margin: -2px 16px 0;
    height: 20px;
}

.auth-form__help-forgot {
    color: var(#454545);
}
>>>>>>> fad29d5 (update)